@media (max-width: 750px), (max-height: 800px) {
  .main {
    margin-left: 0px;
    justify-content: flex-start;
  }

  .top-data {
    flex-direction: column-reverse;
    justify-content: none;
  }

  .flex-day-time {
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .temp {
    font-size: 120px;
  }
}

@media (max-width: 550px) {
  .temp {
    font-size: 100px;
  }

  .bottom-data {
    visibility: visible;
  }
}

@media (max-width: 440px) {
  .temp-city {
    visibility: hidden;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .date {
    font-size: 1.4em;
  }
}

@media (max-width: 380px) {
  .temp {
    font-size: 70px;
  }

  .flex-day-time {
    flex-direction: column;
  }

  .convert-btn {
    margin-left: 21px;
  }
}

@media (max-width: 370px) {
  .convert-btn {
    margin-left: 19px;
  }
}

@media (max-width: 360px) {
  .convert-btn {
    margin-left: 16px;
  }

  .bottom-data {
    padding-right: 18px;
  }
}
