body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", "Thin 100";
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  overflow: hidden;
}

.main {
  border: solid 5px orange;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  border: solid 5px orange;
  padding: 2.5em;
  flex-direction: column;
  margin: 5px;
}

.container .date-search {
  display: flex;
  justify-content: space-between;
}

.temp-city {
  border: solid 5px orange;
  padding: 2.5em;
  margin: 5px;
}
