body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", "Thin 100";
  background-image: url("/Assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  color: white;
}

.container {
  display: flex;
  padding: 2.5em;
  flex-direction: column;
  margin: 5px;
}

.top-data {
  display: flex;
  justify-content: space-between;
}

.flex-day-time {
  display: flex;
  justify-content: space-between;
}

.container .top-data .date-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-betwen;
  padding: 2em;
  border-radius: 18px;
  background: #000000c5;
}

.temp-city {
  padding: 2.5em;
  margin: 5px;
}

.flex-country {
  display: flex;
}

.b-container {
  display: flex;
}

.bottom-data {
  /*visibility: hidden;
  position: absolute;*/
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 18px;
  background: #000000c5;
  margin-left: 42px;
}

.b-flex-country {
  display: flex;
}

/* DESIGNING ELEMENTS */

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #000000c5;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  transition: 0.2s ease-in-out;
}

.btn {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #000000c5;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #18171798;
}

input.search-bar:hover {
  background: #18171798;
}

input.search-bar::placeholder {
  color: white;
}

.description {
  font-size: 20px;
  text-transform: capitalize;
}

.temp {
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 5px 5px #1d1d1d8f;
  margin-bottom: 0;
}

.tempf {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px #1d1d1d8f;
  margin-top: 0;
}

.city,
.country {
  text-shadow: 2px 2px 8px #0c0c0c;
}

.day,
.date {
  font-family: "Montserrat", sans-serif;
}

.day,
.time {
  font-size: 20px;
}

.date {
  margin-top: 0.5em;
}

/*  MEDIA GENERATORS */

@media (max-width: 750px), (max-width: 800px) {
  body,
  html {
    background-image: none;
  }

  .main {
    margin-left: 0px;
    justify-content: flex-start;
  }

  .top-data {
    flex-direction: column-reverse;
    justify-content: none;
  }

  .flex-day-time {
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .temp {
    font-size: 120px;
  }
}

@media (max-width: 550px) {
  .temp {
    font-size: 100px;
  }
}

@media (max-width: 440px) {
  .temp-city {
    visibility: hidden;
  }
}

@media (max-width: 380px) {
  .temp {
    font-size: 70px;
  }

  .flex-day-time {
    flex-direction: column;
  }
}
