body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", "Thin 100";
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
}

.date-search {
  display: flex;
  justify-content: space-between;
}

.temp-container {
}

.container,
.temp-container {
  display: flex;
  border: solid 5px orange;
  padding: 2.5em;
  flex-direction: column;
}
